<% layout("/layout/every.ejs") %>

  <body>

    <div class="container-fluid" style="background-color: #f7ffff; margin-bottom: 10px;">
      <div class="container">
          <div class="row" style="margin-bottom:10px; ">
              <div class="col-md-8 col-md-offset-2">
  
                   <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/52/Indian_Institute_of_Technology%2C_Patna.svg/1200px-Indian_Institute_of_Technology%2C_Patna.svg.png" alt="logo1" class="img-responsive" style="padding-top: 5px; height: 120px; float: left;"> 
  
                  <h3 style="text-align:center;color:#414002!important;font-weight: bold;font-size: 2.5em; margin-top: 3px; font-family: 'Noto Sans', sans-serif;">भारतीय प्रौद्योगिकी संस्थान पटना</h3>
                  <h3 style="text-align:center;color: #414002!important;font-weight: bold;font-family: 'Oswald', sans-serif!important;font-size: 3.5em; margin-top: 0px;">Indian Institute of Technology Patna</h3>
  
  
              </div>
  
  
  
          </div>
          <!-- <h3 style="text-align:center; color: #414002; font-weight: bold;  font-family: 'Fjalla One', sans-serif!important; font-size: 2em;">Application for Academic Appointment</h3> -->
      </div>
  </div>
  <h3 style="color: #e10425; margin-bottom: 20px; font-size: 30px; font-weight: bold; text-align: center;font-family: 'Noto Serif', serif;" class="blink_me">Application for Faculty Position</h3>

    <style type="text/css">
      body 
      {
        background-color: rgb(238, 222, 150);
      }
      #submit{
        font-size: 1.6em;
      }
      .form-control {
        margin-bottom: 10px;
      }

      .floating-box {
        display: inline-block;
        width: 150px;
        height: 75px;
        margin: 10px;
        border: 3px solid #73AD21;
      }
    </style>
    <style type="text/css">

      .form-control {
        margin-bottom: 10px;
      }

      label {
        padding: 0 !important;
      }

      span {
        font-size: 1.45em;
        font-family: 'Oswald', sans-serif !important;
        text-align: left !important;
        padding: 0px 10px 0px 0px !important;
        font-weight: bold;
        /*margin-bottom: 20px!important;*/
        
      }
      
      hr {
        border-top: 1px solid #025198 !important;
        border-style: dashed !important;
        border-width: 1.2px;
      }
      
      .panel-heading {
        font-size: 1.7em;
        font-weight: bold;
        font-family: 'Oswald', sans-serif !important;
        letter-spacing: .5px;
      }

      .btn-primary {
        padding: 9px;
      }
    </style>

    <a href='https://ofa.iiti.ac.in/facrec_che_2023_july_02/layout'></a>

    <div class="container">

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8 well">
          <form class="form-horizontal" action="/formpages/6" method="POST">
            <fieldset>
              <input type="hidden" value="" />

              <legend>
                <div class="row">
                  <div class="col-md-10">
                    <h4 style="font-size: 1.6em;">Welcome : <font color="#025198"><strong>
                          <%= firstname %>&nbsp;<%= lastname %>
                        </strong></font>
                    </h4>
                  </div>
                  <div class="col-md-2">
                    <a style="font-size: 1.1em;" href="/logout" class="btn btn-sm btn-success  pull-right">Logout</a>
                  </div>
                </div>


              </legend>

              <hr color="red">
              <!-- PHD Theses supervision -->


              <h4 style="text-align:center; font-weight: bold; color: #bb39ac;font-size: 3em;">13. Research Supervision:</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-success">
                    <div class="panel-heading">(A) PhD Thesis Supervision &nbsp;&nbsp;&nbsp;<button style="font-size: 0.8em;" type="button"
                        class="btn btn-sm btn-danger" id="add_phd_thesis">Add Details</button></div>
                    <div class="panel-body">

                      <table class="table table-bordered">
                        <tbody id="phd_thesis_table">

                          <tr style="font-size: 1.4em;" height="30px">
                            <th class="col-md-1"> S. No.</th>
                            <th class="col-md-3"> Name of Student/Research Scholar </th>
                            <th class="col-md-2"> Title of Thesis</th>
                            <th class="col-md-2"> Role</th>
                            <th class="col-md-2"> Ongoing/Completed</th>
                            <th class="col-md-2"> Ongoing Since/ Year of Completion</th>
                            <!-- <th class="col-md-2"> </th> -->

                          </tr>


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Master Theses supervision -->

              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-success">
                    <div class="panel-heading">(B) M.Tech/M.E./Master's Degree &nbsp;&nbsp;&nbsp;<button style="font-size: 0.8em;" type="button"
                        class="btn btn-sm btn-danger" id="add_pg_thesis">Add Details</button></div>
                    <div class="panel-body">

                      <table class="table table-bordered">
                        <tbody id="pg_thesis_table">

                          <tr style="font-size: 1.4em;" height="30px">
                            <th class="col-md-1"> S. No.</th>
                            <th class="col-md-3"> Name of Student/Research Scholar </th>
                            <th class="col-md-2"> Title of Thesis</th>
                            <th class="col-md-2"> Role</th>
                            <th class="col-md-2"> Ongoing/Completed</th>
                            <th class="col-md-2"> Ongoing Since/ Year of Completion</th>

                          </tr>


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>




              <!-- Bachelor Theses supervision -->

              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-success">
                    <div class="panel-heading">(C) B.Tech/B.E./Bachelor's Degree &nbsp;&nbsp;&nbsp;<button style="font-size: 0.8em;" type="button"
                        class="btn btn-sm btn-danger" id="add_ug_thesis">Add Details</button></div>
                    <div class="panel-body">

                      <table class="table table-bordered">
                        <tbody id="ug_thesis_table">

                          <tr style="font-size: 1.4em;" height="30px">
                            <th class="col-md-1"> S. No.</th>
                            <th class="col-md-3"> Name of Student </th>
                            <th class="col-md-2"> Title of Project</th>
                            <th class="col-md-2"> Role</th>
                            <th class="col-md-2"> Ongoing/Completed</th>
                            <th class="col-md-2"> Ongoing Since/ Year of Completion</th>

                          </tr>


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Courses Taken -->
              <hr color="red">

              <!-- Button -->

              <div class="form-group">

                <div class="col-md-1">
                  <a style="font-size: 1.4em; background-color: #e10425;" href="/formpages/5" class="btn btn-primary pull-left"><i
                      class="glyphicon glyphicon-fast-backward"></i>Back</a>
                </div>

                <div class="col-md-11">
                  <button id="submit" type="submit" value="Submit" class="btn btn-success pull-right">SAVE &
                    NEXT</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <div id="footer"></div>
    <script type="text/javascript">

      $(function () {
        $('.datepicker').datepicker({
          format: 'dd/mm/yyyy',
          autoclose: true
        });
      });
    </script>

<script>
  // Function to add details for Membership of Professional Societies
$('#add_phd_thesis').click(function() {
var rowCount = $('#phd_thesis_table tr').length;
var newRow = '<tr>' +
             '<td>' + rowCount + '</td>' +
             '<td><input type="text" class="form-control" placeholder="Name of Student" name="phd_name[]" required></td>' +
             '<td><input type="text" class="form-control" placeholder="Title Of Thesis" name="phd_title[]" required></td>' +
             '<td><input type="text" class="form-control" placeholder="Role" name="phd_role[]" required></td>' +
             '<td><input type="text" class="form-control" placeholder="Ongoing/Completed" name="phd_status[]" required></td>' +
             '<td><input type="text" class="form-control" placeholder="Ongoing Since/ Year of Completion" name="phd_year[]" required></td>' +
             '<td><button type="button" class="btn btn-danger btn-sm remove-row">Remove</button></td>' +
             '</tr>';
$('#phd_thesis_table').append(newRow);
});

// Function to add details for Professional Training
$('#add_pg_thesis').click(function() {
var rowCount = $('#pg_thesis_table tr').length;
var newRow = '<tr>' +
             '<td>' + rowCount + '</td>' +
             '<td><input type="text" class="form-control" placeholder="Name of Student" name="pg_name[]" required></td>' +
             '<td><input type="text" class="form-control" placeholder="Title Of Thesis" name="pg_title[]" required></td>' +
             '<td><input type="text" class="form-control" placeholder="Role" name="pg_role[]" required></td>' +
             '<td><input type="text" class="form-control" placeholder="Ongoing/Completed" name="pg_status[]" required></td>' +
             '<td><input type="text" class="form-control" placeholder="Ongoing Since/ Year of Completion" name="pg_year[]" required></td>' +
             '<td><button type="button" class="btn btn-danger btn-sm remove-row">Remove</button></td>' +
             '</tr>';
$('#pg_thesis_table').append(newRow);
});

$('#add_ug_thesis').click(function() {
var rowCount = $('#ug_thesis_table tr').length;
var newRow = '<tr>' +
             '<td>' + rowCount + '</td>' +
             '<td><input type="text" class="form-control" placeholder="Name of Student" name="ug_name[]" required></td>' +
             '<td><input type="text" class="form-control" placeholder="Title Of Project" name="ug_title[]" required></td>' +
             '<td><input type="text" class="form-control" placeholder="Role" name="ug_role[]" required></td>' +
             '<td><input type="text" class="form-control" placeholder="Ongoing/Completed" name="ug_status[]" required></td>' +
             '<td><input type="text" class="form-control" placeholder="Ongoing Since/ Year of Completion" name="ug_year[]" required></td>' +
             '<td><button type="button" class="btn btn-danger btn-sm remove-row">Remove</button required></td>' +
             '</tr>';
$('#ug_thesis_table').append(newRow);
});

// Function to remove row
$(document).on('click', '.remove-row', function() {
$(this).closest('tr').remove();
});

</script>
    </script>
  </body>